/* Creating content part  */
.content_box{
    overflow: Y;
    background: #fff;
}

.content_box .stories{
    /* background: rgba(255, 85, 102, 0.352); */
    height: 80px;
    margin-top: 35px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
}

.content_box .stories p{
    margin-top: 5px;
    font-size: 11px;
}

.content_box .stories .story{
    height: 80px;
    width: 80px;
    /* background: red; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_box .stories .story .circle{
    position: relative;
    height: 60px;
    width: 60px;
    background: url("Images/my_dp.jpg");
    background-size: contain;
    border-radius: 50%;
    border: 2px solid #fff;
}

.content_box .stories .story .circle::before{
    content: "";
    position: absolute;
    height: 66px;
    width: 66px;
    top: -4.6px;
    left: -4.5px;
    right: 2px;
    bottom: 2px;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

